.main-header {
  width: 100%;
  height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

}

.add-button {
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(235, 90, 90);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 30px;
  font-weight: 600;
  margin: 0.4rem;
}

.add-button:hover {
  background-color: rgb(167, 65, 65);
}

.header-col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-col-1 {
  border-bottom: 1px solid lightsteelblue;
  border-right: 1px solid lightsteelblue;
  padding-right: 1.2rem;

}

@media (max-width: 700px) {
  .main-header {
    flex-direction: column;
    height: auto;
    padding: 1rem 0.5rem;
    text-align: center;
  }

  .add-button {
    font-size: 24px;
    padding: 0.8rem 1.2rem;
    margin-top: 1rem;
  }
  .header-col-1 {
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 0rem;
  }
}
