.main-header {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.add-button {
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgb(235, 90, 90);
    color: white;
    padding: 1rem 1.5rem;
    font-size: 30px;
    font-weight: 600;
}