* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: cornflowerblue;
}

h2 {
    color: cornflowerblue;
}

h3 {
    color: cornflowerblue;
}

h4 {
    color: cornflowerblue;
}
p {
    color: cornflowerblue;
}